
@{
    ViewBag.Title = "Message";
    Layout = null;

}

<div style=" background-image: url('../../Content/Image/pexels-scott-webb-5112009.jpg');">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="text-align:center">
        <img src="~/Content/Image/check.png" width="150 " height="150" />
    </div>
    <br />
    <h1 style="text-align: center; color: black">تم حجزك بنجاح</h1>

    <h2 class="title-big " style="text-align:center;color:black">سيتم التواصل معكم لتاكيد الحجز</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

