@{
    ViewBag.Title = "Contact";
}


<div class="inner-banner ">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
            </ul>
        </div>
    </section>
</div>
<br />
<br />

<!-- contact1 -->
<section class="w3l-contact-1 py-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="even-grid contact-view mb-5 pb-lg-5">
                <div class="cont-details">
                    <div class="contactct-fm-text text-right mb-md-5 mb-4">
                        <div class="header-title mb-md-5 mt-4">
                            <span class="sub-title">Find Us</span>
                            <h3 class="hny-title text-left">Additional information </h3>
                        </div>


                    </div>

                </div>




                <div class="map-content-9 ">
                    <video controls="controls" class="w3l-videohny" width="100%" height="100%">
                        <source src="~/Content/vedio/_%d8%b1%d8%ad%d9%84%d8%a9%20%d8%b3%d8%a7%d8%a6%d8%ad%20%d9%81%d9%8a%20%d9%85%d8%b5%d8%b1_%20..%20%d9%81%d9%8a%d8%af%d9%8a%d9%88%20%d8%aa%d8%b1%d9%88%d9%8a%d8%ac%d9%89%20%d8%ac%d8%af%d9%8a%d8%af%20%d9%84%d9%84%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9%20%d8%a7%d9%84%d9%85%d8%b5%d8%b1%d9%8a%d8%a9.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /contact1 -->
<!-- contact1 -->
<section class="w3l-contact-1 py-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="even-grid contact-view mb-5 pb-lg-5">
                <div class="cont-details">
                    <div class="contactct-fm-text text-right mb-md-5 mb-4">
                        <div class="header-title mb-md-5 mt-4">
                            <span class="sub-title">Find Us</span>
                            <h3 class="hny-title text-left">Additional information </h3>
                        </div>


                    </div>

                </div>




                <div class="map-content-9 ">
                    <video controls="controls"  width="100%" height="100%">
                        <source src="~/Content/vedio/Let's%20Go%20-%20Egypt.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /contact1 -->


<!-- contact1 -->
<section class="w3l-contact-1 py-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="even-grid contact-view mb-5 pb-lg-5">
                <div class="cont-details">
                    <div class="contactct-fm-text text-right mb-md-5 mb-4">
                        <div class="header-title mb-md-5 mt-4">
                            <span class="sub-title">Find Us</span>
                            <h3 class="hny-title text-left">Additional information </h3>
                        </div>


                    </div>

                </div>




                <div class="map-content-9 ">
                    <video controls="controls"  width="100%" height="100%">
                        <source src="~/Content/vedio/videoplayback.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /contact1 -->



